body{
    background-color: beige;
}

#container{
    display: flex;
    background-color: rgb(255 3 3 / 85%);
    border: 5px solid rgb(250, 253, 31);
    width: 340px;
    height: 340px;
    margin-left: 35%;
    margin-top: 130px;
    flex-wrap: wrap;
}

#box9{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    box-shadow: 2px 2px 5px;
}

#box8{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 18px;
    box-shadow: 2px 2px 5px, -2px 0px 5px;
}

#box7{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 34.5px;
    box-shadow: -2px 2px 5px;
}

#box6{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    top: 7px;
    box-shadow: 2px 2px 5px, 0px -2px 5px;
}

#box5{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 18px;
    top: 7px;
    box-shadow: 2px 2px 5px, -2px -2px 5px;
}

#box4{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 34.5px;
    top: 7px;
    box-shadow: -2px 2px 5px, 0px -2px 5px;
}

#box3{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    top: 11px;
    box-shadow: 2px -2px 5px;
}

#box2{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 18px;
    top: 11px;
    box-shadow: 2px -2px 5px, -2px 0px 5px;
}

#box1{
    border: 3px solid rgb(10, 181, 233);
    background-color: white;
    width: 96px;
    height: 96px;
    position: relative;
    left: 34.5px;
    top: 11px;
    box-shadow: -2px -2px 5px;    
}
 
#box9:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box8:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box7:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box6:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}
#box5:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box4:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box3:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box2:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#box1:hover{
    border-color: rgb(255, 145, 0);
    transform: scale(1.25);
    /*animation: selecthover 0.5s;*/
}

#text9{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text8{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text7{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text6{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text5{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text4{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text3{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text2{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#text1{
    cursor: default;
    font-size: 80px;
    text-align: center;
}

#winner{
    text-align: center;
    font-size: 40px;
    position: relative;
    right: 26px;
    color: green;
}

@keyframes selecthover {
    from{
        transform: scale(1.0)
    }
    to{
        transform: scale(1.25)
    }
}